/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background: linear-gradient(#457B9D, white);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;

}
#visit{
    margin: 100px 0 30px 0;
    background: #F1FAEE;
    border-radius: 10px;
    padding: 5px 10px;
}

#enjoy {
    margin: 0;
    background: #A8DADC;
    border-radius: 10px;
    padding: 5px 10px;
}

#hero {
    background: url(images/Albuquerque.jpg);
    width: 720px;
    height: 345px;
    margin: auto;
    border: 1px solid white;
    border-radius: 10px;
}

.list {
    display: flex;
    justify-content: center;
    width: 500px;
    margin:  auto;
    padding: 30px;

}
.activities-list {
    border-radius: 50%;
    padding: 5px 20px;

}

img {
    width: 100px;
}

.avatar {
    width: 180px;
    padding: 15px 7px;
    border-radius: 30px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #7c98b3;
    color: #fff3b0;
    border: 1px solid white;
    border-bottom: 5px solid #457B9D;
    border-radius: 30px; 
}